@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 games-collection-title">Games World</h1>
    <p class="text-center font-monospace mt-4 game-description">
        A diverse collection which please any enthusiast gamer.
    </p>
    <a asp-controller="Games" asp-action="Index">
    <img src="https://c4.wallpaperflare.com/wallpaper/96/92/869/game-games-2014-best-wallpaper-preview.jpg"
      alt="Games Collection Picture" class="rounded-image fade-in">
    </a>
</div>
